
:local(.container) {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

:local(.logo) {
    flex: 1;
    text-align: center;
}

:local(.logo img) {
    height: auto;
    width: 100%;
    
    max-width: 30rem;
}